body {
  padding: 15px;
}

.yellow {
  background: yellow;
}

.yellowSelection::selection {
  background: yellow; /* WebKit/Blink Browsers */
}

.yellowSelection::-moz-selection {
  background: yellow; /* Gecko Browsers */
}

.green {
  background: green;
}

.greenSelection::selection {
  background: green; /* WebKit/Blink Browsers */
}

.greenSelection::-moz-selection {
  background: green; /* Gecko Browsers */
}

.red {
  background: red;
}

.redSelection::selection {
  background: red; /* WebKit/Blink Browsers */
}

.redSelection::-moz-selection {
  background: red; /* Gecko Browsers */
}
