body {
  padding: 15px;
}

.yellowish {
  background: yellow;
}

.yellowishSelection::selection {
  background: yellow; /* WebKit/Blink Browsers */
}

.yellowishSelection::-moz-selection {
  background: yellow; /* Gecko Browsers */
}

.greenish {
  background: green;
}

.greenishSelection::selection {
  background: green; /* WebKit/Blink Browsers */
}

.greenishSelection::-moz-selection {
  background: green; /* Gecko Browsers */
}

.redish {
  background: red;
}

.redishSelection::selection {
  background: red; /* WebKit/Blink Browsers */
}

.redishSelection::-moz-selection {
  background: red; /* Gecko Browsers */
}