body {
  padding: 15px;
}

.yellowish {
  background: yellow;
}

.yellowish::selection {
  background: yellow; /* WebKit/Blink Browsers */
}

.yellowish::-moz-selection {
  background: yellow; /* Gecko Browsers */
}

.greenish {
  background: green;
}

.greenish::selection {
  background: green; /* WebKit/Blink Browsers */
}

.greenich::-moz-selection {
  background: green; /* Gecko Browsers */
}

.redish {
  background: red;
}

.redish::selection {
  background: red; /* WebKit/Blink Browsers */
}

.redish::-moz-selection {
  background: red; /* Gecko Browsers */
}